@using AiXinYaoYeV2.Database.Entity
@model List<AiXinYaoYeV2.Database.Entity.RecommandProduct>
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新增商品列表</title>
    <link href="~/Content/css/app.css" rel="stylesheet" media="all" />
    <link href="~/Content/css/amazeui.min.css" rel="stylesheet" media="all" />
    
    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <style>
        li {
            border: solid #e8e8e8 2px;
        }
    </style>
</head>

<body>
<header style="display: block; background-color: rgba(253, 3, 5, 0.808);" class="bar bar-nav">
    <h1 class="title">商品列表</h1>
</header>
    <div id="content-wrap" style="background-color: #e8e8e8;">
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-default product"
            data-am-gallery="{ pureview: true }" style="margin-top: 46px;">
            @foreach (var item in Model)
            {
                <li style="padding:5px;">
                    <div class="am-gallery-item">
                        <a href="@Url.Action("Detail",new{id=item.Id})">
                            <img src="@item.CoverImage" data-am-pureviewed="1" style="height: 50vw;">
                            <h3 class="am-gallery-title">@item.Name</h3>
                            <div class="am-gallery-desc"><span class="price">¥ @item.Price.ToString("0.00")</span></div>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
</body>

</html>