<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>公众号</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <style>
        div {
            position: absolute;
            top: 50%;
            transform: translate(-50%,-50%);
            left: 50%;
        }
    </style>
</head>

<body style="height: 100%;">
<div>
    <img src="~/image/qrcode.jpg"/>
</div>
</body>

</html>